*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

lib/dockerfiles/__pycache__/app.cpython-310.pyc
__pycache__/app.cpython-312.pyc
__pycache__/app.cpython-310.pyc
backend/__pycache__/
backend/config.json